﻿@model FeedViewModel


<table class="table table-striped table-bordered table-sm">

    <tr>
        <td>Published</td>
        <td>Subject</td>
        <td class="text-center">Feed</td>
    </tr>
    @foreach (var item in Model.FeedItems)
    {
        <tr>
            <td class="text-left">
                @(item.PublishingDate?.ToString("ddd, dd MMM HH:mm") ?? "")
            </td>
            <td class="text-left">
                <a href="@item.Link">@item.Title</a>
            </td>
            <td class="text-center">
                <form asp-action="DisplayFeedItems" method="post">
                    <input type="hidden" name="feedId" value="@Model.Feeds.FirstOrDefault(f => f.Id == item.FeedId).Id" />
                    <button type="submit" class="btn btn-default">
                        @Model.Feeds.FirstOrDefault(f => f.Id == item.FeedId).Title
                    </button>
                </form>
            </td>
        </tr>
    }
</table>