﻿@model FeedViewModel

<div>
    <h4 class="text-left"> @Model.Feed.Title </h4>
</div>

<table class="table table-striped table-bordered table-sm">

    <tr>
        <td>Published</td>
        <td>Subject</td>
    </tr>
    @foreach (var item in Model.FeedItems)
    {
        <tr>
            <td class="text-left">
                @(item.PublishingDate?.ToString("ddd, dd MMM HH:mm") ?? "")
            </td>
            <td class="text-left">
                <a href="@item.Link">@item.Title</a>
            </td>
        </tr>
    }
</table>