﻿@model IEnumerable<Feed>


<table class="table table-striped table-bordered table-sm">
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                <form asp-action="DisplayFeedItems" method="post">
                    <input type="hidden" name="feedId" value="@item.Id" />
                    <button type="submit" class="btn btn-default">
                        @item.Title
                    </button>
                </form>
            </td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<div class="text-center">
    <a asp-action="Subscribe" class="btn btn-primary">Add a News Feed</a>
</div>

