﻿<h3>Invalid URL. Please enter a valid link to a News Feed.</h3>

<div class="text-left">
    <a asp-action="Subscribe" class="btn btn-primary">OK</a>
    <a asp-action="Index" class="btn btn-default">Cancel</a>
</div>