﻿<h3>No news yet... Go get some!</h3>

<div class="text-left">
    <a asp-action="Subscribe" class="btn btn-primary">OK</a>
    <a asp-action="Index" class="btn btn-default">No News Is Good News</a>
</div>