﻿@model FeedViewModel

<h4>What do you want to search for?</h4>

<form asp-action="Search" method="post">

    <div class="form-group">
        <input class="form-control" Name="searchString" required />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

@if (Model.FeedItems != null)
{
    <hr />
    <table class="table table-striped table-bordered table-sm">
        @foreach (var item in Model.FeedItems)
        {
            <tr>
                <td class="text-left">
                    @(item.PublishingDate?.ToString("ddd, dd MMM HH:mm") ?? "")
                </td>
                <td class="text-left">
                    <a href="@item.Link">@item.Title</a>
                </td>
                <td class="text-center">
                    <form asp-action="DisplayFeedItems" method="post">
                        <input type="hidden" name="feedId" value="@Model.Feeds.FirstOrDefault(f => f.Id == item.FeedId).Id" />
                        <button type="submit" class="btn btn-default">
                            @Model.Feeds.FirstOrDefault(f => f.Id == item.FeedId).Title
                        </button>
                    </form>

                </td>
            </tr>

        }
    </table>
}

