﻿@model Feed

<h4>Please provide the link to the News Feed that you want to subscribe to.</h4>

<form asp-action="AddNewFeed" method="post">

    <div class="form-group">
        <label asp-for="Url">URL</label>
        <input asp-for="Url" class="form-control" required />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Subscribe</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>